<div class="container">
  <div class="row">
    <div class="jumbotron col-lg-12">
      <div class="card text-white bg-dark">
        <div class="card-body" *ngIf="enable">
          <h4 class="card-title">{{magentoProduct.name}}</h4>
          <p class="card-text">Price: {{magentoProduct.price}}</p>
          <img src="{{magentoProduct.images}}">
          <button class="btn btn-primary" (click)="addtoCartEvent()"> Add to Cart</button>
          <table  id="attr">
            <tr *ngFor="let item of magentoProduct.attrinutes">
            <td>{{item[0]}}</td>
            <td> <span innerHTML="{{item[1]}}">  </span> </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
